{% extends 'tema.html.twig' %}
{% block styles %}
<link rel="stylesheet" href="{{asset('page/css/index.css')}}">
{% endblock %}
{% block main %}

	<!-- Home -->

	<div class="home">

		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url({{asset('images/think.jpg')}})"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content">
										<div class="home_title" style="color: #ffffff;">PREGUNTAS FRECUENTES</div>
										<div class="home_text">
											<p  style="color: #ffffff; font-size: 17px;">Sobre micropigmentación</p>
										</div>
								
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Intro -->
<!--
	<div class="intro">
		<div class="container">
			<div class="row">
        <div class="col-lg-6 intro_col">
        <img src="{{asset('images/karla5.jpg')}}" alt="" style="width: 100%;">
        </div>
		
				<div class="col-lg-6 intro_col">
					<div class="intro_content">
						<div class="section_title_container">
							<div class="section_subtitle">MICROPIGMENTACIÓN</div>
							<div class="section_title"><h2>KARLA LEÓN</h2></div>
						</div>
						<div class="intro_text">
							<p>La micropigmentación, es una especialidad enmarcada en el campo de la estética cuyo fin es el de embellecer, corregir o mejorar determinados rasgos de la anatomía corporal mediante la pigmentación de la piel.</p>
						</div>
            <div class="intro_text">
							<p>También se emplea para corregir daños provocados por tratamientos médicos muy agresivos, como es la quimioterapia, o defectos estéticos genéticos. Si bien es cierto que el proceso provoca una cierta incomodidad, este no es doloroso. </p>
						</div>
						<div class="milestones">
							<div class="row milestones_row">
							
							

							</div>
						</div>
					</div>
				</div>


				
			</div>
		</div>
	</div>
-->
	<!-- Why Choose Us -->

	<div id="micropigmentacion" class="why">
		<div class="container">
			<div class="row ">

				<!-- Why Choose Us Image -->
				
        <div class="col-lg-12 order-lg-2 order-1"></div>
				<!-- Why Choose Us Content -->
				<div class="col-lg-12 order-lg-2 order-1">
					<div class="why_content">
						<div class="section_title_container">
							
							<div class="section_title"><h3><b>PREGUNTAS FRECUENTES</b>  </h3></div>
							
						</div>
						<div class="why_list_text">
							<p>La micropigmentación se establece como una gran alternativa para cubrir las pequeñas calvas e incluso aumentar el tamaño de las cejas. Si estás pensando en someterte a este tratamiento seguro que te has planteado algunas dudas, aquí tienes algunas preguntas frecuentes resueltas para disolverlas de un plumazo.</p>
						</div>

						<div class="why_list">
							<ul>

								<!-- Why List Item -->
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div class="icon-li"><i class="fa fa-certificate"></i></div>
									</div>
									<div class="why_list_content">
										<div class="why_list_title">¿Pueden provocar alergias los pigmentos utilizados?¿son seguros?</div>
										<div class="why_list_text"><p>Si recurres a centros especializados no tendrás ningún problema ya que cuentan con pigmentos totalmente compatibles con el organismo, pero sí puede producir reacciones alérgicas, por ello antes de someterse al tratamiento el especialista debe realizar una prueba de tolerancia para asegurarse de que no existe ningún inconveniente.</p></div>
									</div>
								</li>

								<!-- Why List Item -->
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div class="icon-li"><i class="fa fa-certificate"></i></div>
									</div>
									<div class="why_list_content">
										<div class="why_list_title">¿Puede todo el mundo hacerse la micropigmentación?</div>
										<div class="why_list_text"><p>En principio sí pero existen contadas excepciones. En primer lugar para someterte a este tratamiento beauty, salvo problemas médicos que hayan generado pérdida del vello, es mejor esperar a una edad más avanzada en la que el pelo se muestra más débil y apenas hay síntomas de crecimiento. Aquellas personas que sufren afecciones de la piel (urticaria, psoriasis, verrugas, queloides etc) en la zona a micropigmentar así como las que sufren problemas de coagulación deben plantearse otra alternativa. Es recomendable no pasar por este procedimiento durante el embarazo, tratamientos de quimioterapia y radioterapia o infecciones locales. Por lo demás, tanto hombres como mujeres pueden recurrir a esta técnica.</p></div>
									</div>
								</li>

								<!-- Why List Item -->
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div class="icon-li"><i class="fa fa-certificate"></i></div>
									</div>
									<div class="why_list_content">
										<div class="why_list_title">¿Se trata de un procedimiento tan doloroso como los tatuajes? </div>
										<div class="why_list_text"><p>diferencia de cuando te tatúas otras partes del cuerpo para este procedimiento se utiliza, previamente, un anestésico en gel o crema en la zona, lo que reduce las posibles molestias. Además las agujas no penetran tanto en la piel sino que se quedan en la capa más superficial suponiendo así una menor agresión.</p></div>
									</div>
								</li>

								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div class="icon-li"><i class="fa fa-certificate"></i></div>
									</div>
									<div class="why_list_content">
										<div class="why_list_title">¿Cuánto tiempo dura la micropigmentación?</div>
										<div class="why_list_text"><p>Hay que dejar claro que no se trata de algo permanente, dependiendo de los pigmentos utilizados, la edad y el tipo de piel del paciente la duración es de 1 a 3 años y debes saber, también, que el color irá perdiendo intensidad poco a poco con el paso de los meses. Por ello si estás contenta con los resultados y quieres que permanezcan perfectas por más tiempo tendrás que acudir a retocarlas cada cierto tiempo.</p></div>
									</div>
								</li>

								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div class="icon-li"><i class="fa fa-certificate"></i></div>
									</div>
									<div class="why_list_content">
										<div class="why_list_title">¿Tiene algún mantenimiento especial?¿cuáles son los cuidados posteriores?</div>
										<div class="why_list_text"><p>Una vez te has sometido a este tratamiento no tendrás que volver a maquillar tus cejas, esa es la mejor parte que, salvo los retoques en contadas ocasiones, no tendrás que preocuparte más por tus cejas, eso sí, no olvides aplicarte protección solar durante todo el año, así mantendrás en perfecto estado tu piel y protegerás el color.</p></div>
									</div>
								</li>

								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div class="icon-li"><i class="fa fa-certificate"></i></div>
									</div>
									<div class="why_list_content">
										<div class="why_list_title">¿Qué diferencia existe entre este procedimiento y un tatuaje? </div>
										<div class="why_list_text"><p>La principal diferencia es que el tattoo es realmente permanente ya que los pigmentos se introducen en una capa más profunda de la piel lo cual puede suponer un problema ya que si una vez hecho el diseño no te gusta no podrás cambiarlo de ahí que esta técnica se haya quedado obsoleta. </p></div>
									</div>
								</li>

							

							</ul>
						</div>
					</div>
				</div>
        
			</div>
		</div>
</div>

	<!-- Services -->

	<div class="services" id="servicios">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title_container">
						<div class="section_subtitle"></div>
						<div class="section_title"><h2>SERVICIOS</h2></div>
						<p class="text-black-50">Ofrecemos para ti una serie de servicios con una atención personalizada, visítanos y compruebalo por ti misma</p>
					</div>
				</div>
			</div>
			<div class="row services_row">
				
				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							
                            <div><img src="{{asset('images/cejas.png')}}" style="width: 100%; "></div>
							<div class="service_title">CEJAS</div>
							<div class="service_text">
								<p>Obtendrás la apariencia natural que siempre has querido! Contamos con más de 40 colores de pigmentos para tipo de color de piel.</p>
							</div>
                            <div class="button button_1 extra_link trans_200"><a href="{{path('service')}}/5"><i class="fa fa-link"></i> Ver más</a></div>
							
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							
                            <div><img src="{{asset('images/pestanas1.png')}}" style="width: 100%; "></div>
							<div class="service_title">PESTAÑAS</div>
							<div class="service_text">
								<p>No hay excusas para no tener las Pestañas hermosas que siempre has soñado, ven y compruebalo por ti misma</p>
							</div>
                            <div class="button button_1 extra_link trans_200"><a href="{{path('service')}}/6"><i class="fa fa-link"></i> Ver más</a></div>
											
                         
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div><img src="{{asset('images/estrias.png')}}" style="width: 100%; "></div>
							<div class="service_title">ESTRIAS</div>
							<div class="service_text">
								<p>Una nueva técnica que permite camuflar las estrías por medio del uso de pigmentos especiales permanentes </p>
							</div>
                            <div class="button button_1 extra_link trans_200"><a href="{{path('service')}}/7"><i class="fa fa-link"></i> Ver más</a></div>
							
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							
                            <div><img src="{{asset('images/depilacion.png')}}" style="width: 100%; "></div>
							<div class="service_title">DEPILACIÓN</div>
							<div class="service_text">
								<p>Un proceso sin dolor, sin sorpresas y que convierte a la depilación en algo por lo que no debes preocuparte.</p>
							</div>
                            <div class="button button_1 extra_link trans_200"><a href="{{path('service')}}/9"><i class="fa fa-link"></i> Ver más</a></div>
							
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							
                            <div><img src="{{asset('images/labios.png')}}" style="width: 100%; "></div>
							<div class="service_title">LABIOS</div>
							<div class="service_text">
								<p>Ya es posible lucir unos labios perfetamente definidos y con un color natural sin necesidad de usar lapiz labial todos los dias.</p>
							</div>
                            <div class="button button_1 extra_link trans_200"><a href="{{path('service')}}/8"><i class="fa fa-link"></i> Ver más</a></div>
							
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							
                            <div><img src="{{asset('images/service_4.png')}}" style="width: 100%; "></div>
							<div class="service_title">SPA</div>
							<div class="service_text">
								<p>Póngale fin a los problemas del día con exclusivos faciales y tratamientos corporales o bien, rejuvenézcase en nuestro SPA.</p>
							</div>
                            <div class="button button_1 extra_link trans_200"><a href="{{path('service')}}/4"><i class="fa fa-link"></i> Ver más</a></div>
							
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Extra -->


</div>
<div class="clearfix"></div><br><br><br>
{% endblock %}
{% block javascripts %}
<script>
$(function () {
	$(".owl-carousel .owl-item").css({"height":$(window).height()+"px"});
});
</script>
{% endblock %}