{% extends 'tema.html.twig' %}
{% block styles %}
<link rel="stylesheet" href="{{asset('page/css/index.css')}}">

        {% endblock %}
{% block main %}
<div class="home align-items-start justify-content-end" style="height: 250px; margin-top: 250px;" >
    <div class="parallax_background parallax-window" data-parallax="scroll" ></div>
		 <div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title text-karla2-50">TALLERES</div>
							<div class="home_text text-black-50">Ofrecemos para ti una serie de servicios con una atención personalizada, visítanos y compruebalo por ti misma</div>
                            <div class="home_text text-black-50">Ofrecemos talleres personalizados los cuales incluyen Certificado.
                                <br>
                                Inscríbete en nuestros talleres y mantente actualizada las últimas técnicas sobre micropigmentación.
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="clearfix"></div>
<div class="container">
<div class="intro">
		<div class="container">
			<div class="row">
        <div class="col-lg-6 intro_col">
        <img src="{{asset('uploads/')}}{{imgs.title}}" alt="" style="width: 100%;">
        </div>
		
				<div class="col-lg-6 intro_col">
					<div class="intro_content">
						<div class="section_title_container">
                        <div class="clearfix"></div><br>
							<div class="section_subtitle">{{taller.summary }}</div>
							<div class="section_title"><h2>{{taller.title}}</h2></div>
						</div>
						<div class="intro_text">
                         <p><STRONG>FECHA:</STRONG> {{taller.dini|date('M')}} {{taller.dini|date('d')}} de {{taller.dini|date('Y')}} </p>

                    <p><STRONG>COSTO:</STRONG> Bl/. {{taller.precio|number_format(2,'.',',')}} </p>
                    <div class="clearfix"></div><br>
                    <STRONG>TEMAS A DESARROLLAR:</STRONG>
                        {{taller.content|raw}}
                        <div class="clearfix"></div><br>
			 {% if taller.dini|date('Y-m-d') > "now"|date('Y-m-d') %}
                    <div class="button button_1 extra_link trans_200"><a class="" href="{{path('reservar_cita',{'tipo':'1','opt':taller.id,'msj':'0'})}}">Reservar cupo</a></div>
                        {% endif %}	

							</div>

					
					</div>
				</div>

            <div class="col-lg-12 intro_col">
            <div class="clearfix"></div><br><br>
            
            </div>
     
			</div>
            <div class="clearfix"></div><br><br>
		</div>
	</div>

</div>

<div class="clearfix"></div>
<div class="divothers" style="">
<div class="container">
    <h2>OTROS TALLERES</h2>


            <div class="">
                <div class="row">
        {% for k,item in talleres %}
                    <div class="col-md-6 col-sm-6">
                        <div class="team-member">
                    {% if item.dini|date('Y-m-d') > "now"|date('Y-m-d')%}
                            <div class="proximo-taller"><i class="fa fa-bookmark"></i><br> Próximo taller</div>
                    {% endif %}
                            <div class="team-img">
                                <img src="{{asset('uploads/')}}{{item.imagen}}" alt="team member" class="img-responsive">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <h4>{{item.title}}</h4>
                                    <p>{{item.summary}}</p>
                                </div>
                                <div class="s-link">
                           <div class="home_buttons">
                            {% if item.dini|date('Y-m-d') >= "now"|date('Y-m-d')%}
                            <div class="button button_3 extra_link trans_200"> <a href="{{path('reservar_cita',{'tipo':'1','opt':item.id,'msj':'0'})}}" class=""><i class="fa fa-calendar"></i> Reservar</a></div>
                            {% endif %}
                            <div class="button button_3 extra_link trans_200"><a href="{{path('taller_info')}}/{{item.slug}}" class=""><i class="fa fa-eye"></i> Ver más</a></div>
                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-title">

                            <h5><a href="{{path('taller_info')}}/{{item.slug}}">{{item.title}}</a></h5>
                            <span>{{item.summary}} - {{item.dini|date('d M Y')}}</span>
                        </div>
                    </div>
        {% endfor %}
                </div>

            </div>



</div>
<div class="clearfix"></div><br><br>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function() {


        $('.owl-carousel').owlCarousel({
            items: 1,
            margin: 10,
            autoplay: true,
            loop: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            smartSpeed: 450,
            dots: true



        });





    });
</script>

{% endblock  %}