{% extends 'base2.html.twig' %}

{% block styles %}
    <link href="{{asset('plugins/dtables/datatables.min.css')}}" rel="stylesheet">
    <link href="{{asset('plugins/select2.4/dist/css/select2.min.css')}}" rel="stylesheet"/>
    <style>
        .table th {
            color: #000 !important;
        }
        table.dataTable td,
        table.dataTable th {
            font-size: 14px;
        }
        table.dataTable td {
            padding: 3px 5px !important;
        }
        #form-modal label{
            margin-bottom: 0px  !important;
        }
        .form-control,
        .select2-container--default .select2-selection--multiple,
        .select2-container .select2-selection--single {
            border-radius: 2px !important;
            margin-bottom: 10px;
            font-size: 13px;
        }
        .select2-container .select2-selection--single {
            border-radius: 2px;
            height: 35px;
            padding-top: 3px;
            border: 1px solid #d1d3e2;
            font-size: 13px;
        }
        .select2-results__option {
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">ADMIN TABLES / {{tname|upper}}
        </h1>
        <a class="d-none d-sm-inline-block btn btn-primary shadow-sm edit-record" href="#" data-id="0">
            <i class="fas fa-plus fa-sm"></i>
            Add record</a>
    </div>
    <div class='clearfix'></div>
        <div class="">
        <div id="buttons"></div><div class='clearfix'></div><br>
            <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                <thead>
                    <tr>
                        {% if table == "Subsector" %}
                            <th>ID_SECTOR</th>
                            <th>SECTOR</th>
                        {% endif %}
                        <th>ID</th>
                        <!--
                        {% if table != "Pais" and table != "Tipoorg" and table != "Toficina" and table != "Recurso" and table != "Unidad" and table != "Tactividad" and table != "Sector" and table != "Estado" and table != "Beneficiario" %}
                        <th>{{table == "Subsector" ? 'SECTOR':'' }}{{table == "Actividad" ? 'ACTIVITY TYPE':'' }}</th>
                        {% endif %}
                        -->                        
                        <th>NAME - EN</th>
                        <th>NAME - ES</th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in records %}
                        <tr id="tr-record-{{item.id}}">
                            {% if table == "Subsector" %}
                                <td>{{item.id_sector}}</td>
                                <td>{{item.tipo}}</td>
                            {% endif %}
        
                            <td width='50'>{{item.id}}</td>
                            <!--
                            {% if table != "Pais" and table != "Tipoorg" and table != "Toficina" and table != "Recurso" and table != "Unidad" and table != "Tactividad" and table != "Sector" and table != "Estado" and table != "Beneficiario" %}
                            <td>{{item.tipo}}</td>
                            {% endif %}
                            -->
                            <td>{{item.nombre}}</td>
                            <td>{{item.nombre_en}}</td>
                            
                            <td align="center" width="110">
                                <a class="btn btn-primary btn-icon-split btn-sm edit-record" onclick="javascript:return false;" href="#" data-id="{{item.id}}">
                                    <span class="text">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                </a>
                                {% if table == "Pais" or table == "Provincia" %}
                                    <a class="btn btn-success btn-icon-split btn-sm" href="{{path('admin_location')}}/{{item.id}}/Provincia/ADMIN 1">
                                        <span class="text">
                                            <i class="fas fa-globe"></i>
                                        </span>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
    </div>
    <div id="form-modal" aria-hidden="true" aria-labelledby="myExtraLargeModalLabel" class="modal fade bd-example-modal-xl" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">FORM / {{tname}}</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" class="needs-validation" enctype="multipart/form-data" id="form-record" method="post" novalidate>

                        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                        <span class="sr-only">Loading...</span>

                    </form>
                    <div class="w-100"></div><br>
                    <div class="col-md-12">
                        
                    </div>
                    <div class="w-100"></div><br>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-m" role="dialog">
        <div
            class="modal-dialog" style="width: 80%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title">PERSONAS INSCRITAS</h4>
                </div>
                <div class="modal-body" id="modal-detail">
                    <p>Cargando información....</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class='clearfix'></div><br>
{% endblock %}
{% block javascripts %}

    <script src="{{asset('plugins/dtables/datatables.min.js')}}"></script>
    <script src="{{asset('plugins/select2.4/dist/js/select2.min.js')}}"></script>
    <script>
        $(function () {
            var table = $('#dataTable').DataTable({"pageLength": 5000, "order": [
                    [1, "asc"]
                ]});
            var buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5']
                }).container().appendTo($('#buttons'));
            
            $(document).on('click', '.edit-record', function () {
                var id = $(this).data('id');
                $("#form-modal").modal('show');
                $.ajax({
                    type: "GET",
                    url: "{{ path('admin_table') }}/" + id + "/{{tname}}/{{table}}" ,
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function (xhr) {}
                }).done(function (data) {
                    $("#form-record").html(data.html);
                    $(".select2").select2();
                });

            });

            $("#form-record").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                var form = $(this);
                $.ajax({
                    type: "POST",
                    url: "{{ path('admin_table') }}", 
                    data: form.serialize(),
                    beforeSend: function (xhr) {}
                }).done(function (data) {
                    if(data.edita == 1){
                        $("#tr-record-"+data.id).html(data.html);
                        console.log(data.html);
                    }else{
                        var html_page = "<tr id='tr-record-" + data.id + "'>" + data.html + "</tr>";
                            table.row.add($(html_page)).draw(false);

                    }
                   $("#form-modal").modal('hide');
                });



                

            });


        });
    </script>
{% endblock %}
